# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
monthly-chart/node_modules
monthly-chart/.pnp
monthly-chart/.pnp.js

# testing
monthly-chart/coverage

# production
monthly-chart/build

# misc
monthly-chart/.DS_Store
monthly-chart/.env.local
monthly-chart/.env.development.local
monthly-chart/.env.test.local
monthly-chart/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
